<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/bootstrap-styles"></div>
</head>

<body class="bg-dark">

<div th:replace="fragments/nav-bar"></div>
<div th:replace="fragments/message"></div>

<div class="container-fluid p-2">

    <button type="button" class="btn btn-info m-2 " data-toggle="modal" data-target="#newEmployeeModal">
        Dodaj nowego pracownika
    </button>
    <div class="modal fade" id="newEmployeeModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="empAddModalTitle">Dodawanie nowego pracownika</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/employees/add}" th:object="${newEmployee}" method="post">
                    <div class="modal-body">
                        <div class="form-group ">
                            <label for="empNameInputE">Imię:</label>
                            <input type="text" class="shadow form-control " name="name" id="empNameInputN">
                            <small id="empNameHelpN" class="form-text text-muted">Tylko pierwsze imię</small>
                        </div>
                        <div class="form-group ">
                            <label for="empSecondNameInputN">Nazwisko:</label>
                            <input type="text" class="shadow form-control " name="secondName"
                                   id="empSecondNameInputN">
                        </div>
                        <div class="form-group ">
                            <label for="empEmailInputN">E-mail:</label>
                            <input type="text" class="shadow form-control " name="email" id="empEmailInputN">
                        </div>
                        <div class="form-group ">
                            <label for="empPhoneInputE">Nr telefonu:</label>
                            <input type="text" class="shadow form-control " name="phoneNumber" id="empPhoneInputN">
                            <small id="empPhoneHelpN" class="form-text text-muted">Format: +48 xxx xxx xxx</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="shadow btn btn-sm btn-secondary " data-dismiss="modal">Close</button>
                        <button type="submit" class="shadow btn btn-sm btn-primary ">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row p-2 m-2">
        <table class="table table-hover table-dark">
            <caption>Lista pracowników</caption>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nazwisko i imię</th>
                <th scope="col">E-mail</th>
                <th scope="col">Telefon</th>
                <th scope="col">Funkcje</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="emp: ${employees}" th:class="${emp.cancelled} ? 'bg-dark text-secondary' : ''">
                <th scope="row" th:text="${emp.getId()}"></th>
                <td th:text="${emp.getSecondName()} + ' ' + ${emp.getName()}"></td>
                <td th:text="${emp.getEmail()}"></td>
                <td th:text="${emp.getPhoneNumber()}"></td>
                <td>
                    <button type="button" class="shadow btn bg-info "
                            data-toggle="modal"
                            th:attr="data-target='#empEdit'+${emp.getId()}">
                        Szczegóły
                    </button>
                    <button type="button" class="shadow btn btn-danger "
                            data-toggle="modal"
                            th:attr="data-target='#empCancel'+${emp.getId()}">
                        Wyłącz
                    </button>
                </td>
            </tr>

            </tbody>
        </table>

        <tr th:each="emp: ${employees}">

            <div class="modal fade" th:id="'empEdit'+${emp.getId()}" data-backdrop="static" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h5 class="modal-title" id="carEditModalTitle"
                                th:text="${emp.getId()}+'. '+${emp.getName()} +' '+${emp.getSecondName()}">Modal
                                title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form th:action="@{/employees/edit}" th:object="${newEmployee}" method="post">
                            <div class="modal-body">
                                <div class="form-group ">
                                    <label for="empNameInputE">Imię:</label>
                                    <input type="text" class="form-control " name="name"
                                           id="empNameInputE" th:value="${emp.getName()}">
                                    <small id="empNameHelpE" class="form-text text-muted">Tylko pierwsze imię</small>
                                </div>
                                <div class="form-group ">
                                    <label for="empSecondNameInputE">Nazwisko:</label>
                                    <input type="text" class="form-control " name="secondName"
                                           id="empSecondNameInputE" th:value="${emp.getSecondName()}">
                                </div>
                                <div class="form-group ">
                                    <label for="empEmailInputE">E-mail:</label>
                                    <input type="text" class="form-control " name="email"
                                           id="empEmailInputE" th:value="${emp.getEmail()}">
                                </div>
                                <div class="form-group ">
                                    <label for="empPhoneInputE">Nr telefonu:</label>
                                    <input type="text" class="form-control " name="phoneNumber"
                                           id="empPhoneInputE" th:value="${emp.getPhoneNumber()}">
                                    <small id="empPhoneHelpE" class="form-text text-muted">Format: +48 xxx xxx
                                        xxx</small>
                                </div>
                                <input type="hidden" name="id" th:value="${emp.getId()}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="shadow btn btn-secondary " data-dismiss="modal">Zamknij bez zmian
                                </button>
                                <button type="submit" class="shadow btn btn-primary ">Zapisz zmiany</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" th:id="'empCancel'+${emp.getId()}" data-backdrop="static" tabindex="-1"
                 role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content bg-danger text-white ">
                        <div class="modal-header">
                            <h5 class="modal-title" id="CarDeleteModalTitle"
                                th:text="${emp.getId()}+'. '+${emp.getName()} +' '+${emp.getSecondName()}">Modal
                                title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form th:action="@{/employees/delete}" th:object="${newEmployee}" method="post">
                            <div class="modal-body">
                                <p>
                                    Zaraz usuniesz pracownika.

                                    W tym celu przepisz dokładnie jego adres e-mail do poniższego pola.
                                    Jeśli pracownik jest przypisany do jakiejkolwiek rezerwacji, jego usunięcie nie
                                    będzie możliwe.
                                    W tym przypadku zostanie on ustawiony jako niedostepny do dalszych rezerwacji.
                                </p>
                                <div class="form-group ">
                                    <label for="carDeleteInput1" th:text="${emp.getEmail()}">email</label>
                                    <input type="text" class="form-control " th:field="*{email}"
                                           id="carDeleteInput1">
                                </div>
                                <input type="hidden" name="id" th:value="${emp.getId()}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="shadow btn btn-secondary " data-dismiss="modal">Zamknij bez
                                    zmian
                                </button>
                                <button type="submit" class="shadow btn btn-danger ">Wyłącz pracownika</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </tr>

    </div>


</div>
<div th:replace="fragments/bootstrap-scripts"></div>
</body>
</html>