<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/bootstrap-styles"></div>
</head>

<body class="bg-dark">

<div th:replace="fragments/nav-bar"></div>
<div th:replace="fragments/message"></div>

<div class="container-xl p-1">
    <!-- Button trigger modal -->
    <button type="button" class="shadow btn btn-success btn-block text-center" data-toggle="modal" data-target="#newCarModal">
        Dodaj nowy pojazd
    </button>

    <div class="modal fade" id="newCarModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="neCarModalTitle">Dodawanie nowego pojazdu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/cars/add}" th:object="${newCar}" method="post">
                    <div class="modal-body">
                        <div class="form-group ">
                            <label for="carBrandInputN">Marka:</label>
                            <input type="text" class="shadow form-control " name="brand"
                                   id="carBrandInputN">
                            <small class="form-text text-muted">min. 5 znaków</small>
                        </div>
                        <div class="form-group ">
                            <label for="carModelInputN">Model:</label>
                            <input type="text" class="shadow form-control " name="model"
                                   id="carModelInputN">
                            <small class="form-text text-muted">min. 2 znaki</small>
                        </div>
                        <div class="form-group ">
                            <label for="carRegistrationInputN">Rejestracja:</label>
                            <input type="text" class="shadow form-control " name="registration"
                                   id="carRegistrationInputN">
                            <small class="form-text text-muted">min. 5 znaków</small>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="shadow btn btn-secondary " data-dismiss="modal">Zamknij</button>
                        <button type="submit" class="shadow btn btn-primary ">Dodaj pojazd</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row p-2 m-2">

        <table class="table table-hover table-dark">
            <caption>Lista pracowników</caption>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Marka</th>
                <th scope="col">Rejestracja</th>
                <th scope="col">Funkcje</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="dto: ${cars}" th:class="${dto.cancelled} ? 'bg-dark text-secondary' : ''">
                <th scope="row" th:text="${dto.getId()}"></th>
                <td th:text="${dto.getBrand()} + ' ' + ${dto.getModel()}"></td>
                <td th:text="${dto.getRegistration()}"></td>
                <td>
                    <button type="button" class="shadow btn btn-secondary "
                            data-toggle="modal"
                            th:attr="data-target='#dtoEdit'+${dto.getId()}">
                        Edycja
                    </button>
                    <button type="button" th:class="${dto.cancelled} ? 'shadow btn btn-success' : 'shadow btn btn-warning' "
                            th:text="${dto.cancelled} ? 'Aktywuj' : 'Wyłącz' "
                            data-toggle="modal"
                            th:attr="data-target='#dtoCancel'+${dto.getId()}">
                        Wyłącz
                    </button>
                    <button type="button" class="shadow btn btn-danger"
                            data-toggle="modal"
                            th:attr="data-target='#dtoDelete'+${dto.getId()}">
                        Usuń
                    </button>
                </td>
            </tr>

            </tbody>
        </table>

        <tr th:each="dto: ${cars}">

            <div class="modal fade" th:id="'dtoEdit'+${dto.getId()}" data-backdrop="static" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h5 class="modal-title" id="carEditModalTitle"
                                th:text="${dto.getId()}+'. '+${dto.getBrand()} + ' ' + ${dto.getModel()} +' '+${dto.getRegistration()}">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form th:action="@{/cars/edit}" th:object="${newCar}" method="post">
                            <div class="modal-body">
                                <div class="form-group ">
                                    <label for="carBrandInputE">Marka:</label>
                                    <input type="text" class="form-control " name="brand"
                                           id="carBrandInputE" th:value="${dto.getBrand()}">
                                    <small id="carBrandHelpN" class="form-text text-muted">min. 5 znaków</small>
                                </div>
                                <div class="form-group ">
                                    <label for="carModelInputE">Model:</label>
                                    <input type="text" class="form-control " name="model"
                                           id="carModelInputE" th:value="${dto.getModel()}">
                                    <small id="carModelHelpE" class="form-text text-muted">min. 2 znaki</small>
                                </div>
                                <div class="form-group ">
                                    <label for="carRegistrationInputE">Rejestracja:</label>
                                    <input type="text" class="form-control " name="registration"
                                           id="carRegistrationInputE" th:value="${dto.getRegistration()}">
                                    <small id="carRegistrationHelpE" class="form-text text-muted">min. 5 znaków</small>
                                </div>
                                <input type="hidden" name="id" th:value="${dto.getId()}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="shadow btn btn-secondary " data-dismiss="modal">Zamknij bez zapisywania</button>
                                <button type="submit" class="shadow btn btn-primary ">Zapisz zmiany</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" th:id="'dtoCancel'+${dto.getId()}" data-backdrop="static" tabindex="-1"
                 role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content bg-warning ">
                        <div class="modal-header">
                            <h5 class="modal-title" id="CarCancelModalTitle"
                                th:text="${dto.getId()}+'. '+${dto.getBrand()} + ' ' + ${dto.getModel()} +' '+${dto.getRegistration()}">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form th:action="${dto.isCancelled()} ? @{/cars/enable} : @{/cars/cancel}" th:object="${newCar}" method="post">
                            <div class="modal-body">
                                <p th:text="${dto.cancelled} ? 'Zaraz włączysz ponownie pojazd' : 'Zaraz wyłączysz pojazd z rezerwacji'">
                                    Zaraz zmienisz status pojazdu.
                                </p>
                                <input type="hidden" name="id" th:value="${dto.getId()}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="shadow btn btn-secondary " data-dismiss="modal">Zamknij bez zapisywania</button>
                                <button type="submit" class="shadow btn btn-small btn-danger ">Zmień status pojazdu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" th:id="'dtoDelete'+${dto.getId()}" data-backdrop="static" tabindex="-1"
                 role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content bg-danger ">
                        <div class="modal-header">
                            <h5 class="modal-title" id="CarDeleteModalTitle"
                                th:text="${dto.getId()}+'. '+${dto.getBrand()} + ' ' + ${dto.getModel()} +' '+${dto.getRegistration()}">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form th:action="@{/cars/delete}" th:object="${newCar}" method="post">
                            <div class="modal-body">
                                <p>
                                    Zaraz usuniesz pojazd.

                                    W tym celu przepsiz jego numer rejestracyjny do poniższego pola.
                                    W przypadku rezerwacji przypisanych do tego pojazdy nie będzie to możliwe.
                                    Spróbuj wtedy zmienić jego status na wyłączony.
                                </p>
                                <div class="form-group ">
                                    <label for="carDeleteInput1" th:text="${dto.getRegistration()}">email</label>
                                    <input type="text" class="form-control " th:field="*{registration}"
                                           id="carDeleteInput1">
                                </div>
                                <input type="hidden" name="id" th:value="${dto.getId()}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="shadow btn btn-secondary " data-dismiss="modal">Zamknij bez zapisywania</button>
                                <button type="submit" class="shadow btn btn-small btn-danger ">Usuń pojazd</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </tr>
    </div>
</div>
<div th:replace="fragments/bootstrap-scripts"></div>
</body>
</html>