<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/bootstrap-styles"></div>
</head>

<body>

<div th:replace="fragments/nav-bar"></div>
<div th:replace="fragments/alert"></div>
<div th:replace="fragments/message"></div>

<div class="container-fluid p-2">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newCarModal">
        Dodaj nowy pojazd
    </button>

    <div class="modal fade" id="newCarModal" data-backdrop="static" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="neCarModalTitle">Dodawanie nowego pojazdu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/cars/add}" th:object="${newCar}" method="post">
                    <div class="modal-body">
                        <div class="form-group rounded-0">
                            <label for="carNameInputE">Nazwa pojazdu:</label>
                            <input type="text" class="form-control rounded-0" name="name"
                                   id="carNameInputN">
                            <small id="carNameHelpN" class="form-text text-muted">Marka, model, generacja</small>
                        </div>
                        <div class="form-group rounded-0">
                            <label for="carRegistrationInputE">Rejestracja:</label>
                            <input type="text" class="form-control rounded-0" name="registration"
                                   id="carRegistrationInputN">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Dodaj pojazd</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">

        <tr th:each="car: ${cars}">

            <div class="col-6 col-md-4 col-lg-3 col-xl-2 p-1">
                <div class="shadow card border-success text-center rounded-0">
                    <h5 class="card-header bg-success text-light">
                        <td th:text="${car.getId()}"></td>
                        <td th:text="${car.getName()}"></td>
                    </h5>
                    <div class="card-body bg-light">
                        <p class="card-text">
                        <td th:text="${car.getRegistration()}"></td>
                        </p>
                        <button type="button" class="btn btn-outline-secondary btn-lg btn-block rounded-0"
                                data-toggle="modal" th:attr="data-target='#carEdit'+${car.getId()}"> Edytuj
                        </button>
                        <button type="button" class="btn btn-outline-secondary btn-lg btn-block rounded-0"
                                data-toggle="modal" th:attr="data-target='#carDelete'+${car.getId()}"> Usuń
                        </button>
                    </div>
                </div>
            </div>

            <div class="modal fade" th:id="'carEdit'+${car.getId()}" data-backdrop="static" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="carEditModalTitle"
                                th:text="${car.getId()}+'. '+${car.getName()} +' '+${car.getRegistration()}">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form th:action="@{/cars/edit}" th:object="${newCar}" method="post">
                            <div class="modal-body">
                                <div class="form-group rounded-0">
                                    <label for="carNameInputE">Nazwa pojazdu:</label>
                                    <input type="text" class="form-control rounded-0" name="name"
                                           id="carNameInputE" th:value="${car.getName()}">
                                    <small id="carNameHelpE" class="form-text text-muted">Marka, model, generacja</small>
                                </div>
                                <div class="form-group rounded-0">
                                    <label for="carRegistrationInputE">Rejestracja:</label>
                                    <input type="text" class="form-control rounded-0" name="registration"
                                           id="carRegistrationInputE" th:value="${car.getRegistration()}">
                                </div>
                                <input type="hidden" name="id" th:value="${car.getId()}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" th:id="'carDelete'+${car.getId()}" data-backdrop="static" tabindex="-1"
                 role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered bg-danger" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="CarDeleteModalTitle"
                                th:text="${car.getId()}+'. '+${car.getName()} +' '+${car.getRegistration()}">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form th:action="@{/cars/delete}" th:object="${newCar}" method="post">
                            <div class="modal-body">
                                <p>
                                    Zaraz usuniesz pojazd.

                                    W tym celu przepisz dokładnie jego numer rejestracyjny do poniższego pola.
                                    Jeśli pojazd jest przypisany do jakiejkolwiek rezerwacji, jego usunięcie nie będzie możliwe.
                                    W tym przypadku zostanie on ustawiony jako niedostepny do dalszych rezerwacji.
                                </p>
                                <div class="form-group rounded-0">
                                    <label for="carDeleteInput1">Nr rejestracyjny: </label>
                                    <input type="text" class="form-control rounded-0" th:field="*{registration}"
                                           id="carDeleteInput1">
                                    <small id="carDeleteHelp12" class="form-text text-muted">Marka, model</small>
                                </div>
                                <input type="hidden" name="id" th:value="${car.getId()}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-small btn-danger">Delete Car</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </tr>
    </div>


</div>
<div th:replace="fragments/bootstrap-scripts"></div>
</body>
</html>