<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/bootstrap-styles"></div>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>

</head>
<body class="bg-dark">
<div th:replace="fragments/nav-bar"></div>


<div th:replace="fragments/message"></div>


<!-- option panel -->
<div class="container-xl bg-warning pb-2 px-2 mb-1 rounded">
    <form th:action="@{/booking/}" th:object="${bookingParams}" method="get">
        <div class="form-row">

            <div class="col-3 col-md-1">
                <label class="my-1 mx-2" for="backSeven">Cofej:</label>
                <input type="hidden" id="backSeven" name="requestedDate"
                       th:value="${bookingParams.getRequestedDate().minusDays(7)}"/>
                <button type="submit"
                        class="btn btn-block bg-secondary btn-outline-dark text-white btn-outline-dark">
                    -7
                </button>
            </div>
            <div class="col-6 col-md-2">
                <label class="my-1 mx-2" for="requestedDatepicker">Wybrane:</label>
                <input type="text" readonly="true" class="bg-light" id="requestedDatepicker"
                       th:field="*{requestedDate}"/>
            </div>
            <div class="col-3 col-md-1">
<!--                TODO why is this not going forth, because it is in one form, so only first one is readed-->
                <label class="my-1 mx-2" for="aheadSeven">Pociś:</label>
                <input type="hidden" id="aheadSeven" name="requestedDate"
                       th:value="${bookingParams.getRequestedDate().plusDays(7)}"/>
                <button type="submit" class="btn btn-block bg-secondary text-white btn-outline-dark">
                    +7
                </button>
            </div>

            <div class="col-6 col-md-4">
                <label class="my-1 mx-2" for="selectScope">Wyświetlaj dni:</label>
                <select id="selectScope" class="shadow custom-select bg-secondary text-white" size="1"
                        th:field="*{scope}">
                    <option value="7">1 tydzień</option>
                    <option selected value="14">2 tygodnie</option>
                    <option value="28">4 tygodnie</option>
                </select>
            </div>

            <div class="col-6 col-md-4">
                <label class="my-1 mx-2" for="selectCar">Auto:</label>
                <select id="selectCar" class="shadow custom-select bg-secondary text-white" size="1"
                        th:field="*{carId}">
                    <option value=""></option>
                    <option th:each="car : ${cars}" th:value="${car.getId()}"
                            th:text="${car.getModel()}"></option>
                </select>
            </div>

        </div>

    </form>
</div>

<!-- kalendarz -->

<form th:action="@{/booking/resolve}" th:object="${carCalendarInfo}" method="post">
    <input type="hidden" name="carId" th:value="${bookingParams.car.id}">
<div class="shadow container-xl bg-secondary rounded">
    <div class="row">
        <tr th:each="day : ${carCalendarInfo.carDayInfoList}">
            <div class="col p-1">
                <div class="btn-group btn-block btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-block btn-secondary">
                        <input type="checkbox" th:field="*{carDayInfoList[__${dayStat.index}__].requested}" name="requestedDay" autocomplete="off" >
                        <input type="hidden" th:name="carDayInfoList[__${dayStat.index}__].LDid" th:value="${day.id.getLocalDate()}">
                        <small th:text="${day.getId().getDayOfWeekPLShort()}" ></small>
                        <small th:text="${day.getId().getDayValueWithZero()} + '.' + ${day.getId().getMonthValueWithZero()}" ></small>
                        <div th:class="${day.available} ? 'rounded bg-info' : 'rounded bg-danger'" style="height: 26px;">
                            <small th:text="${!day.available} ? ${day.employeeDto.getSecondName()} : ''" ></small>
                        </div>
                    </label>
                </div>
            </div>
            <div th:if="${day.getId().getDayOfWeekPLShort() == 'Nie'}" class="w-100"></div>
        </tr>
    </div>
</div>
    <button type="submit" class="shadow btn btn-block btn-success my-2">Wyślij formularz rezerwacji
    </button>
</form>


<div th:replace="fragments/bootstrap-scripts"></div>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script th:inline="javascript">
    var today = new Date(
        [(${requestedDate.getYear()})],
        [(${requestedDate.getMonthValueWithZeroJS()})],
        [(${requestedDate.getDayValueWithZeroJS()})]);

    $('#requestedDatepicker').datepicker({
        showOnFocus: true,
        showRightIcon: false,
        header: false,
        footer: false,
        format: 'dd/mm/yyyy',
        value: [(${requestedDate.getDayValueWithZeroJS()})]
            + "/"
            + [(${requestedDate.getMonthValueWithZeroJS()})]
            + "/" + [(${requestedDate.getYear()})],
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',
        ignoreReadonly: true,

        maxDate: function () {
            return $('#endDate').val();
        }
    });
    $('#endDate').datepicker({
        showOnFocus: true,
        showRightIcon: false,
        header: false,
        footer: false,
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',
        ignoreReadonly: true,

        minDate: function () {
            return $('#requestedDatepicker').val();
        }
    });

    var x = document.getElementById("requestedDatepicker").value;

    $('#requestedDatepicker').change(
        function () {
            if (x != document.getElementById("requestedDatepicker").value) {
                $('#chooseDate').submit();
            }
        });

</script>
</body>
</html>