<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/bootstrap-styles"></div>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
</head>

<body class="bg-dark">
<div th:replace="fragments/nav-bar"></div>

<div class="container-fluid">

    <div class="alert alert-dark text-white bg-secondary border-secondary mt-2 rounded-0" role="alert">
        <h4>Zarezerwuj pojazd!</h4>
    </div>

    <div th:replace="fragments/message"></div>


    <div class="container-fluid">

        <form th:action="@{/trips/add}" th:object="${newTrip}" method="post">

            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-1">
                    <div class="shadow card bg-danger text-white rounded-0 h-100">
                        <div class="card-header">Termin</div>
                        <div class="card-body">
                            <label for="startDate">Początek: </label>
                            <input class="bg-light rounded-0" id="startDate" th:field="*{startingDate}"/>
                            <label for="endDate">Koniec: </label>
                            <input class="bg-light rounded-0" placeholder="nie trzeba ustawiać" id="endDate"
                                   th:field="*{endingDate}"/>
                            <small id="endDateHelp" class="form-text text-light"></small>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-1">
                    <div class="shadow card bg-warning text-white rounded-0 h-100">
                        <div class="card-header">Pojazd</div>
                        <div class="card-body">
                            <td th:unless="${requestedTrip.getCarId() != null}">
                                <select class="custom-select bg-light rounded-0" size="6" th:field="*{carId}">
                                    <option th:each="car : ${cars}" th:value="${car.getId()}"
                                            th:text="${car.getId()} + '. ' + ${car.getName()} + ' - ' + ${car.getRegistration()}">
                                    </option>
                                </select>
                                <small id="carHelp" class="form-text text-light">* pole wymagane</small>
                            </td>
                            <td th:unless="${requestedTrip.getCarId() == null}">
                                <h5 th:text="${requestedTrip.getCarId()}
                                 + '. ' +
                                 ${requestedTrip.getCar().getName()}
                                 + ' ' +
                                 ${requestedTrip.getCar().getRegistration()}"></h5>
                                <input type="hidden" name="carId" th:value="${requestedTrip.getCarId()}">
                            </td>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-1">
                    <div class="shadow card bg-success text-white rounded-0 h-100">
                        <div class="card-header">Osoba</div>
                        <div class="card-body">
                            <select class="custom-select bg-light  rounded-0" size="6" th:field="*{employeeId}">
                                <option th:each="emp : ${employees}" th:value="${emp.getId()}"
                                        th:text="${emp.getId()} + '. ' + ${emp.getName()} + ' ' + ${emp.getSecondName()}">
                                </option>
                            </select>
                            <small id="employeeHelp" class="form-text text-light">* pole wymagane</small>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-12 col-xl-3 p-1">
                    <div class="shadow card bg-secondary text-white rounded-0 h-100">
                        <div class="card-header">Opis</div>
                        <div class="card-body">
                            <textarea class="form-control bg-light rounded-0" rows="2"
                                      placeholder="Np. godziny wyjazdu, cel, klient..."
                                      th:field="*{additionalMessage}"></textarea>
                                                        <small id="messageHelp" class="form-text text-light">- niewymagane</small>
                        </div>
                    </div>
                </div>

                <button type="submit" class="shadow btn btn-info btn-block btn-lg mt-3 rounded-0">Rezerwuj
                </button>

            </div>
        </form>
    </div>
</div>


<div th:replace="fragments/bootstrap-scripts"></div>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script th:inline="javascript">
    var today = new Date(
        [(${requestedDate.getYear()})],
        [(${requestedDate.localDate.getMonthValue()})]-1,
        [(${requestedDate.getDayValueWithZeroJS()})]);


    $('#startDate').datepicker({
        showOnFocus: true,
        showRightIcon: false,
        header: false,
        format: 'dd/mm/yyyy',
        value: [(${requestedDate.getDayValueWithZeroJS()})]
            + "/"
            + [(${requestedDate.getMonthValueWithZeroJS()})]
            + "/" + [(${requestedDate.getYear()})],
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',
        minDate: today,

        maxDate: function () {
            return $('#endDate').val();
        }
    });
    $('#endDate').datepicker({
        showOnFocus: true,
        showRightIcon: false,
        header: false,
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',
        minDate: function () {
            return $('#startDate').val();
        }
    });


</script>
</body>
</html>