<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/bootstrap-styles"></div>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>

</head>
<body class="bg-dark">
<div th:replace="fragments/nav-bar"></div>


<div th:replace="fragments/message"></div>

<div class="container-xl bg-warning pt-2 px-2 mb-2 rounded">

    <div class="row">
        <div class="col-12 col-md-4 mb-2">
            <button type="button" class="btn btn-block btn-warning" th:text="
                    'Wyświetlasz: ' + ${requestedDate.getDayOfWeekPL()}
                    + ' '
                    + ${requestedDate.getLocalDate().getDayOfMonth()}
                    + ' '
                    + ${requestedDate.getMonthPL()}">
            </button>
        </div>
        <div class="col-3 col-md-1 mb-2">
            <form th:action="@{/calendar/browser}" th:object="${dateDto}">
                <input type="hidden" name="localDate" th:value="${requestedDate.getLocalDate().minusDays(1)}"/>
                <button type="submit" class="btn btn-block bg-secondary btn-outline-dark text-white btn-outline-dark">
                    &laquo;
                </button>
            </form>
        </div>
        <div class="col-6 col-md-2 mb-2">
            <form id="chooseDate" th:action="@{/calendar/browser}" th:object="${tripDto}">
                <input type="text" readonly="true" class="bg-light" id="requestedDatepicker"
                       th:field="*{startingDate}"/>
            </form>
        </div>
        <div class="col-3 col-md-1 mb-2">
            <form th:action="@{/calendar/browser}" th:object="${dateDto}">
                <input type="hidden" name="localDate" th:value="${requestedDate.getLocalDate().plusDays(1)}"/>
                <button type="submit" class="btn btn-block bg-secondary text-white btn-outline-dark">
                    &raquo;
                </button>
            </form>
        </div>
        <div class="col-12 col-md-4 mb-2">
            <form th:action="@{/calendar/find}" th:object="${dateDto}">
                <input type="hidden" name="localDate" th:value="${requestedDate.getLocalDate()}"/>
                <button type="submit" class="btn btn-block btn-outline-dark text-dark bg-warning">
                    Pokaż w kalendarzu
                </button>
            </form>
        </div>
    </div>
</div>

<div class="container-xl bg-secondary p-2 mb-2 rounded">
    <div class="row">
        <tr th:each="car: ${carsByDay}">
            <div class="col-6 col-md-4 col-lg-3 mb-1">

                <span th:if="${car.isAvailable()}">
                    <form id="dayForm" th:action="@{/booking}" th:object="${tripDto}"
                                                         method="get">
                    <div th:class="${car.isAvailable()}
                                        ? 'shadow card text-white bg-info text-center h-100'
                                        : 'shadow card text-white bg-danger text-center h-100'"
                    >
                        <div class="card-header" th:text="${car.getBrand()}
                        + ' '
                        + ${car.getModel()}
                        + ' - '
                        + ${car.getRegistration()}"></div>
                        <img th:src="@{/cars/image/{id}(id=${car.getId()})}" alt="No such car image"
                             class="img-thumbnail">
                        <div class="card-img-overlay h-100">

                            <input type="hidden" name="carId" th:value="${car.getId()}">
                            <input type="hidden" name="startingDate"
                                   th:value="${requestedDate.getLocalDateFormatted()}">

                        </div>
                        <button type="submit"
                                th:class="${car.isAvailable()}
                                        ? 'btn btn-info stretched-link btn-block text-white'
                                        : 'btn btn-danger stretched-link btn-block text-white'"
                                th:text="${car.isAvailable()}
                                        ? 'Rezerwuj'
                                        : ${car.getOccupier().getSecondName()}"

                        >Rezerwuj
                        </button>
                    </div>
                </form>
                </span>

                <span th:if="${car.available==false}">

                    <div class="shadow card text-white bg-danger text-center h-100"
                    >
                        <div class="card-header" th:text="${car.getBrand()}
                        + ' '
                        + ${car.getModel()}
                        + ' - '
                        + ${car.getRegistration()}"></div>
                        <img th:src="@{/cars/image/{id}(id=${car.getId()})}" alt="No such car image"
                             class="img-thumbnail">
                        <div class="card-img-overlay h-100">

                            <input type="hidden" name="carId" th:value="${car.getId()}">
                            <input type="hidden" name="startingDate"
                                   th:value="${requestedDate.getLocalDateFormatted()}">

                        </div>
                        <button type="button"
                                class="btn btn-danger stretched-link btn-block text-white"
                                th:text="${car.getOccupier().getName()} + ' ' + ${car.getOccupier().getSecondName()}"
                        >
                        </button>
                    </div>
                </span>

            </div>
        </tr>
    </div>
</div>

<div class="container-xl">
    <div class="row m-2">
        <div class="table-responsive">
            <table class="table table-hover table-dark">
                <caption th:text="'Lista rezerwacji w dniu '+${requestedDate.getLocalDateFormatted()}">Lista rezerwacji
                    w dniu
                </caption>
                <thead>
                <tr>
                    <th scope="col">Od</th>
                    <th scope="col">Do</th>
                    <th scope="col">Pojazd</th>
                    <th scope="col">Osoba</th>
                    <th scope="col">Opis</th>
                    <th scope="col">Funkcje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="trip: ${trips}" th:class="${trip.cancelled} ? 'bg-dark text-secondary' : ''">
                    <td th:text="${trip.startingDate.toLocaleString().split(',')[0]}"></td>
                    <td th:text="${trip.endingDate.toLocaleString().split(',')[0]}"></td>
                    <td th:text="${trip.car.model}"></td>
                    <td th:text="${trip.employee.name}+' '+${trip.employee.secondName}"></td>
                    <td th:text="${trip.additionalMessage}"></td>
                    <td>
                        <button type="button" class="shadow btn btn-info"
                                data-toggle="modal"
                                th:attr="data-target='#tripEdit'+${trip.getId()}">
                            Szczegóły
                        </button>
                        <button type="button" class="shadow btn btn-danger"
                                data-toggle="modal"
                                th:attr="data-target='#tripCancel'+${trip.getId()}">
                            Anuluj
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <tr th:each="trip: ${trips}">
                <div class="modal fade" th:id="'tripEdit'+${trip.getId()}" data-backdrop="static" tabindex="-1"
                     role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="carEditModalTitle">Szczegóły rezerwacji</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form th:action="@{/trips/edit}" th:object="${tripDto}" method="post">
                                <div class="modal-body">
                                    <p>
                                        W tym miejscu możesz zmienić opis rezerwacji.
                                        Nie możesz zmienić innych jej parametrów.
                                        Możesz ją anulować i utworzyć nową.
                                    </p>
                                    <div class="shadow card text-white bg-info text-center h-100">
                                        <h5 class="card-header">
                                            <p class="card-text">
                                            <td th:text="${trip.getId()}+'. '"></td>
                                            <td th:text="${trip.getCar().getBrand()}"></td>
                                            <br>
                                            <td th:text="${trip.getCar().getRegistration()}"></td>
                                            </p>
                                        </h5>
                                        <div class="card-body">
                                            <td th:text="'Od: ' + ${trip.getStartingDate().toLocaleString().split(',')[0]}"></td>
                                            <br/>
                                            <td th:text="'Do: ' + ${trip.getEndingDate().toLocaleString().split(',')[0]}"></td>
                                            <p class="card-text">
                                            <td th:text="${trip.getEmployee().getName()}"></td>
                                            <td th:text="${trip.getEmployee().getSecondName()}"></td>
                                            <br/>
                                            <td th:text="${trip.getEmployee().getPhoneNumber()}"></td>
                                            <td th:text="${trip.getAdditionalMessage()}"></td>
                                            <td th:text="'Utworzono: ' + ${trip.getCreatedTime()}"></td>
                                            <br/>
                                            <td th:text="'Zmodyfikowano: ' + ${trip.getLastModifiedTime()}"></td>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group rounded-0">
                                        <label for="tripMessageInputE">Opis:</label>
                                        <input type="text" class="form-control" name="additionalMessage"
                                               id="tripMessageInputE" th:value="${trip.getAdditionalMessage()}">
                                        <small id="tripMessageHelpE" class="form-text text-muted">Miejsce, czas,
                                            inne...</small>
                                    </div>
                                    <input type="hidden" name="id" th:value="${trip.getId()}">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij bez
                                        zmian
                                    </button>
                                    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" th:id="'tripCancel'+${trip.getId()}" data-backdrop="static" tabindex="-1"
                     role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content bg-danger text-white">
                            <div class="modal-header">
                                <h5 class="modal-title" id="CarDeleteModalTitle">Anulowanie rezerwacji</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form th:action="@{/trips/cancel}" th:object="${tripDto}" method="post">
                                <div class="modal-body">
                                    <p>
                                        Zaraz anulujesz rezerwację.
                                        W tym celu przepisz dokładnie nr telefonu właściciela rezerwacji do poniższego
                                        pola.
                                        Tej operacji nie można
                                        wycofać.
                                    </p>
                                    <div class="shadow card text-white bg-info text-center h-100">
                                        <h5 class="card-header">
                                            <p class="card-text">
                                            <td th:text="${trip.getId()}+'. '"></td>
                                            <td th:text="${trip.getCar().getBrand()} + ' ' + ${trip.getCar().getModel()}"></td>
                                            <br>
                                            <td th:text="${trip.getCar().getRegistration()}"></td>
                                            </p>
                                        </h5>
                                        <div class="card-body">
                                            <td th:text="'Od: ' + ${trip.getStartingDate().toLocaleString().split(',')[0]}"></td>
                                            <br/>
                                            <td th:text="'Do: ' + ${trip.getEndingDate().toLocaleString().split(',')[0]}"></td>
                                            <p class="card-text">
                                            <td th:text="${trip.getEmployee().getName()}"></td>
                                            <td th:text="${trip.getEmployee().getSecondName()}"></td>
                                            <br/>
                                            <td th:text="'tel: '+${trip.getEmployee().getPhoneNumber()}"></td>
                                            <br/>
                                            <td th:text="${trip.getAdditionalMessage()}"></td>
                                            <td th:text="'Utworzono: ' + ${trip.getCreatedTime()}"></td>
                                            <br/>
                                            <td th:text="'Zmodyfikowano: ' + ${trip.getLastModifiedTime()}"></td>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="text-centered" for="carDeleteInput1">Tutaj wpisz nr
                                            telefonu:</label>
                                        <input type="text" class="shadow form-control rounded-0"
                                               th:field="*{employee.phoneNumber}"
                                               id="carDeleteInput1">
                                    </div>
                                    <input type="hidden" name="id" th:value="${trip.getId()}">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="shadow btn btn-secondary" data-dismiss="modal">Zamknij
                                        bez
                                        zmian
                                    </button>
                                    <button type="submit" class="shadow btn btn-danger">
                                        Anuluj rezerwację
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </tr>
        </div>
    </div>
</div>
<div th:replace="fragments/bootstrap-scripts"></div>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script th:inline="javascript">
    var today = new Date(
        [(${requestedDate.getYear()})],
        [(${requestedDate.getMonthValueWithZeroJS()})],
        [(${requestedDate.getDayValueWithZeroJS()})]);

    $('#requestedDatepicker').datepicker({
        showOnFocus: true,
        showRightIcon: false,
        header: false,
        footer: true,
        format: 'dd/mm/yyyy',
        value: [(${requestedDate.getDayValueWithZeroJS()})]
            + "/"
            + [(${requestedDate.getMonthValueWithZeroJS()})]
            + "/" + [(${requestedDate.getYear()})],
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',
        ignoreReadonly: true,

        maxDate: function () {
            return $('#endDate').val();
        }
    });
    $('#endDate').datepicker({
        showOnFocus: true,
        showRightIcon: false,
        header: false,
        footer: true,
        format: 'dd/mm/yyyy',
        uiLibrary: 'bootstrap4',
        iconsLibrary: 'fontawesome',
        ignoreReadonly: true,

        minDate: function () {
            return $('#requestedDatepicker').val();
        }
    });

    var x = document.getElementById("requestedDatepicker").value;

    $('#requestedDatepicker').change(
        function () {
            if (x != document.getElementById("requestedDatepicker").value) {
                $('#chooseDate').submit();
            }
        });

</script>
</body>
</html>