<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/bootstrap-styles"></div>
</head>

<body class="bg-dark">

<div th:replace="fragments/nav-bar"></div>
<div th:replace="fragments/message"></div>

<div class="container-xl pt-2">

    <div class="row">

        <tr th:each="car: ${cars}">
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 p-1 mt-2">
                <div class="shadow card text-white bg-warning text-center  h-100">
                    <h5 class="card-header">
                        <td th:text="${car.getBrand()} + ' ' + ${car.getModel()}"></td>
                    </h5>
                    <div class="card-body">
                        <p class="card-text">

                        <td th:text="${car.getRegistration()}"></td>
                        </p>

                    </div>
                    <a th:href="@{/trips/car/{id}(id=${car.getId()})}"
                       class="btn btn-warning stretched-link btn-block text-white ">Pokaż rezerwacje</a>
                </div>
            </div>
        </tr>

    </div>

</div>

<div th:replace="fragments/bootstrap-scripts"></div>
</body>
</html>