<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/bootstrap-styles"></div>
</head>

<body class="bg-dark">

<div th:replace="fragments/nav-bar"></div>
<div th:replace="fragments/message"></div>

<div class="container-fluid pt-2">

    <div class="row">

        <tr th:each="car: ${cars}">
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 p-1 mt-2">
                <div class="shadow card text-white bg-warning text-center rounded-0 h-100">
                    <h5 class="card-header">
                        <td th:text="${car.getName()}"></td>
                    </h5>
                    <div class="card-body">
                        <p class="card-text">

                        <td th:text="${car.getRegistration()}"></td>
                        </p>

                    </div>
                    <a th:href="@{/trips/car/{id}(id=${car.getId()})}"
                       class="btn btn-warning stretched-link btn-block text-white rounded-0">Pokaż rezerwacje</a>
                </div>
            </div>
        </tr>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 p-1 mt-2">
            <div class="shadow card text-warning border-warning bg-dark text-center rounded-0 h-100">
                <div class="card-body">
                    <h4 class="card-text">
                    Dodej auto jak mosz mało
                    </h4>
                </div>
                <a th:href="@{/cars}"
                    class="btn btn-outline-dark bg-dark stretched-link btn-block text-warning rounded-0">+</a>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments/bootstrap-scripts"></div>
</body>
</html>