<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/bootstrap-styles"></div>
</head>
<body class="bg-dark">

<div th:replace="fragments/nav-bar"></div>
<div th:replace="fragments/message"></div>

<div class="container-fluid pt-2">


    <div class="row">
        <tr th:each="emp: ${employees}">
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 p-1 mt-2">
                    <div class="shadow card text-white bg-success text-center rounded-0">
                        <h5 class="card-header">
                            <td th:text="${emp.getName()}"></td>
                            <td th:text="${emp.getSecondName()}"></td>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                            <td th:text="${emp.getEmail()}"></td>
                            <br>
                            <td th:text="${emp.getPhoneNumber()}"></td>
                            <br>
                        </div>
                        <a th:href="@{/trips/employee/{id}(id=${emp.getId()})}"
                           class="btn btn-success stretched-link btn-block rounded-0">Pokaż rezerwacje</a>
                    </div>
            </div>
        </tr>
        <div class="col-6 col-md-4 col-lg-3 col-xl-2 p-1 mt-2">
            <div class="shadow card text-success border-success bg-dark text-center rounded-0 h-100">
                <div class="card-body">
                    <h4 class="card-text">
                        Dodej hajera jak mosz mało
                    </h4>
                </div>
                <a th:href="@{/cars}"
                   class="btn btn-outline-dark bg-dark stretched-link btn-block text-success rounded-0">+</a>
            </div>
        </div>
    </div>


</div>
<div th:replace="fragments/bootstrap-scripts"></div>

</body>
</html>