<div class="container">
    <div class="row justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination ">
                <li class="page-item "><a class="shadow page-link bg-dark border-secondary text-light" th:href="@{/calendar/{s}/{p}(p=${page}-1, s=${scope})}">
                    &laquo;</a></li>
                <li class="page-item"><a class="shadow page-link bg-dark border-secondary text-light" th:href="@{/calendar/{s}/0(s=${scope})}" th:text="
                    ${calendarPreview.get(0).getId().getDayValueWithZero()}
                    + ' '
                    + ${calendarPreview.get(0).getId().getMonthPL()}
                    + ' - '
                    + ${calendarPreview.get(calendarPreview.size()-1).getId().getDayValueWithZero()}
                    + ' '
                    + ${calendarPreview.get(calendarPreview.size()-1).getId().getMonthPL()}">Zeruj</a></li>
                <li class="page-item "><a class="shadow page-link bg-dark border-secondary text-light" th:href="@{/calendar/{s}/{p}(p=${page}+1, s=${scope})}">
                    &raquo;</a></li>
            </ul>
        </nav>
    </div>
</div>