<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/bootstrap-styles"></div>
</head>

<body class="bg-dark">

<div th:replace="fragments/nav-bar"></div>

<div th:replace="fragments/alert"></div>


<div class="container-fluid pt-2">

    <div class="row">

        <tr th:each="trip: ${trips}">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-1">
                <div class="shadow card border-danger text-center rounded-0">
                    <h5 class="card-header bg-light">
                        <td th:text="${trip.getId()}"></td>
                        <br>
                        <td th:text="${trip.getEmployee().getName()}"></td>
                        <br>
                        <td th:text="${trip.getEmployee().getSecondName()}"></td>
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                        <td th:text="${trip.getStartingDate().getDay()}"></td>
                        <br>
                        <td th:text="${trip.getStartingDate().getDate()}"></td>
                        <br>
                        <td th:text="${trip.getStartingDate().getMonth()}"></td>
                        </p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                        <td th:text="${trip.getEndingDate().getDay()}"></td>
                        <br>
                        <td th:text="${trip.getEndingDate().getDate()}"></td>
                        <br>
                        <td th:text="${trip.getEndingDate().getMonth()}"></td>
                        </p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text">
                        <td th:text="${trip.getCar().getName()}"></td>
                        <br>
                        <td th:text="${trip.getCar().getRegistration()}"></td>
                        </p>
                    </div>
                    <div class="card-body bg-light">
                        <a href="#" class="btn btn-outline-secondary btn-lg btn-block rounded-0">  Edytuj  </a>
                        <form th:action="@{/trips/delete}" th:object="${deleteTrip}" method="post">
                            <input type="hidden" name="id" th:value="${trip.id}">
<!--                            <input type="hidden" name="carId" th:field="*{carId}" th:value="${trip.getCar().getId()}">-->
<!--                            <input type="hidden" name="employeeId" th:field="*{employeeId}" th:value="${trip.getEmployee().getId()}">-->
                            <button type="submit" class="btn btn-outline-danger btn-sm btn-block">Usuń</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>