<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/bootstrap-styles"></div>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>

</head>
<body class="bg-dark">
<div th:replace="fragments/nav-bar"></div>

<div class="container-fluid pt-2">
    <div class="row">
        <tr th:each="day :${calendarPreview}">
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 p-1">
                <div class="shadow card text-white bg-secondary rounded-0 h-100 p-1">
                    <form id="dayForm" th:action="@{/calendar/browser}" th:object="${dateDto}" method="get">
                        <div class="card-header">
                            <input type="hidden" name="localDate" th:value="${day.id.localDate}">
                            <button type="submit" id="dayButton" th:text="${day.getId().getDayOfWeekPL()} + ' ' + ${day.getId().getLocalDate().toString()}" class="btn btn-sm text-white stretched-link rounded-0"></button>
                        </div>
                        <div class="card-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <table>
                                        <tr th:each="carN :${day.getNotAvailableCars()}">
                                        <div class="col-12 rounded-0 p-0">
                                            <div class="shadow card text-white bg-danger rounded-0 h-100">
                                                <p th:text="${carN.getName()}"></p>
                                            </div>
                                        </div>
                                        </tr>
                                        <tr th:each="carA :${day.getAvailableCars()}">
                                            <div class="col-12 rounded-0 p-0">
                                                <div class="shadow card text-white bg-info rounded-0 h-100">
                                                    <p th:text="${carA.getName()}"></p>
                                                </div>
                                            </div>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </tr>
    </div>
</div>

<div th:replace="fragments/bootstrap-scripts"></div>
</body>
</html>