<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/bootstrap-styles"></div>
</head>
<body>
<div th:replace="fragments/nav-bar"></div>

<div class="container">

    <div class="row">
        <tr th:each="day: ${dateList}">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-1 mt-2">
                <div class="shadow card border-warning text-center rounded-0">
                    <h5 class="card-header bg-light">
                        <td th:text="${day.getDayOfWeek()}"></td>
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                        <h1>
                            <td th:text="${day.getDayOfMonth()}"></td>
                        </h1>
                        <td th:text="${day.getMonth()}"></td>
                        <br>

                    </div>
                    <a th:href="@{/calendar/pick}"
                             class="btn btn-warning stretched-link btn-block text-white rounded-0">Pokaż dzień</a>
                </div>
            </div>
        </tr>
    </div>
</div>


<div th:replace="fragments/bootstrap-scripts"></div>
</body>
</html>