<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/bootstrap-styles"></div>
</head>

<body>

<div th:replace="fragments/nav-bar"></div>

<div class="container">

    <div class="row">
        <div class="col-12">
            <form th:action="@{/cars/add}" th:object="${newCar}" method="post">
                <div class="form-group">
                    <label for="carNameInput1">Nazwa pojazdu:</label>
                    <input type="text" class="form-control" th:field="*{name}" id="carNameInput1">
                    <small id="carNameHelp1" class="form-text text-muted">Marka, model</small>
                </div>
                <div class="form-group">
                    <label for="carRegistrationInput1">Numer rejestracyjny:</label>
                    <input type="text" class="form-control" th:field="*{registration}" id="carRegistrationInput1">
                </div>
                <button type="submit" class="btn btn-success" value="add new car">Dodaj do bazy</button>
            </form>
        </div>
    </div>


    <div class="row">

        <tr th:each="car: ${cars}">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-1">
                <div class="shadow card border-success text-center">
                    <h5 class="card-header bg-success text-light">
                        <td th:text="${car.getId()}"></td>
                        <td th:text="${car.getName()}"></td>
                    </h5>
                    <div class="card-body bg-light">
                        <p class="card-text">
                        <td th:text="${car.getFuel()}"></td>
                        <br>
                        <td th:text="${car.getCarCategory()}"></td>
                        <br>
                        <td th:text="${car.getMileage()}"></td>
                        <br>
                        <td th:text="${car.getRegistration()}"></td>
                        </p>
                        <a href="#" class="btn btn-outline-secondary btn-lg btn-block">  Edytuj  </a>
                        <a th:href="@{/cars/delete/{id}(id=${car.getId()})}" class="btn btn-outline-danger btn-sm btn-block">Usuń</a>
                    </div>
                </div>
            </div>
        </tr>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>