<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/bootstrap-styles"></div>
</head>

<body>

<div th:replace="fragments/nav-bar"></div>

<div class="container">

    <div class="row">

        <tr th:each="car: ${cars}">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-1 mt-2">
                <div class="shadow card border-success text-center">
                    <h5 class="card-header bg-light">
<!--                        <td th:text="${car.getId()}"></td>-->
                        <td th:text="${car.getName()}"></td>
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
<!--                        <td th:text="${car.getFuel()}"></td>-->
<!--                        <br>-->
<!--                        <td th:text="${car.getCarCategory()}"></td>-->
<!--                        <br>-->
<!--                        <td th:text="${car.getMileage()}"></td>-->
<!--                        <br>-->
                        <td th:text="${car.getRegistration()}"></td>
                        </p>
                        <a th:href="@{/}" class="btn btn-outline-success stretched-link btn-block">Rezerwuj</a>
                    </div>
                </div>
            </div>
        </tr>
    </div>

</div>

<div th:replace="fragments/bootstrap-scripts"></div>
</body>
</html>