

<div class="container pt-4">
    <div class="row justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination rounded-0">
                <li class="page-item"><a class="page-link" th:href="@{/calendar/{s}/{p}(p=${page}-1, s=${scope})}">&laquo; -1</a></li>
                <li class="page-item"><a class="page-link" th:href="@{/calendar/{s}/0(s=${scope})}" >Zeruj</a></li>
                <li class="page-item"><a class="page-link" th:href="@{/calendar/{s}/{p}(p=${page}+1, s=${scope})}"> +1 &raquo;</a></li>
            </ul>
        </nav>
    </div>
</div>