<nav class="shadow-sm navbar sticky-top navbar-expand-lg navbar-dark bg-info mb-2" xmlns:th="http://www.thymeleaf.org">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" th:href="@{/}">MDJ Rezerwator</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li th:class="${active == 'calendar'} ? 'nav-item active' : 'nav-item'">
                <a class=" nav-link " th:href="@{/calendar/14/0}">Kalendarz</a>
            </li>
            <!--            <li class="border-left nav-item active">-->
            <!--                <a class=" nav-link " th:href="@{/calendar/7/0}">Tydzień</a>-->
            <!--            </li>-->
            <li th:class="${active == 'day'} ? 'nav-item active' : 'nav-item'">
                <a class=" nav-link " th:href="@{/calendar/browser}">Dzień</a>
            </li>
            <li th:class="${active == 'booking'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/fast}">Rezerwacja</a>
            </li>
            <li th:class="${active == 'trips'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/trips}">Przeglądaj</a>
            </li>
            <li th:class="${active == 'data'} ? 'nav-item dropdown active' : 'nav-item dropdown'">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownManagement" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dane
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownManagement">
                    <a class="dropdown-item" th:href="@{/cars/manager}">Pojazdy</a>
                    <a class="dropdown-item" th:href="@{/employees/manager}">Pracownicy</a>
                </div>
            </li>
        </ul>
    </div>

    <form th:action="@{/calendar/browser}" th:object="${dateDto}">
        <button type="submit" class="shadow btn btn-warning mt-1" th:text="'Dziś: ' + ${today.getDayOfWeekPL()} + ' '
              + ${today.getDayValueWithZero()} + ' '
              + ${today.getMonthPL()} + ' '
              + ${today.getYear()}">
            Navbar text with an inline element
        </button>
        <input type="hidden" name="localDate" th:value="${today.getLocalDate()}">
    </form>
</nav>
