<nav class="shadow-sm navbar sticky-top navbar-expand-lg navbar-dark bg-info" xmlns:th="http://www.thymeleaf.org">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" th:href="@{/}">MDJ Rezerwator</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="border-left nav-item active">
                <a class=" nav-link " th:href="@{/calendar/0}">Kalendarz</a>
            </li>
            <li class="border-left nav-item">
            <a class="nav-link" th:href="@{/}">Szybka rezerwacja</a>
        </li>
            <li class="border-left nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownReservations" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rezerwacje
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownReservations">
                    <a class="dropdown-item" th:href="@{/trips}">Wszystkie</a>
                    <a class="dropdown-item" th:href="@{/cars}">Według pojazdu</a>
                    <a class="dropdown-item" th:href="@{/employees}">Według pracownika</a>
                </div>
            </li>
            <li class="border-left nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownManagement" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Zarządzanie danymi
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownManagement">
                    <a class="dropdown-item" th:href="@{/cars/manager}">Pojazdy</a>
                    <a class="dropdown-item" th:href="@{/employees/manager}">Pracownicy</a>
                </div>
            </li>


        </ul>
        <span class="navbar-text text-white" th:text="${today.getDayOfWeekPL()} + ' '
              + ${today.getDayValueWithZero()} + ' '
              + ${today.getMonthPL()} + ' '
              + ${today.getYear()}">
            Navbar text with an inline element
        </span>
    </div>
</nav>
