<div th:unless="${filterIsActive == 'false'}" class="container-xl px-2">
    <div class="alert alert-success alert-dismissible fade show " role="alert">Aktywne filtry:
        <td th:unless="${filter.getStartingDate() == null}">
            <span class="badge badge-success text-wrap" th:text="'Po: '+${filter.getStartingDate()}"></span>
        </td>
        <td th:unless="${filter.getEndingDate() == null}">
            <span class="badge badge-success text-wrap" th:text="'Przed: '+${filter.getEndingDate()}"></span>
        </td>
        <td th:unless="${filter.getCarId() == null}">
            <span class="badge badge-success text-wrap" th:text="'Pojazd: '+${filter.getCar().getModel()}"></span>
        </td>
        <td th:unless="${filter.getEmployeeId() == null}">
            <span class="badge badge-success text-wrap" th:text="'Pracownik: '+${filter.getEmployee().getSecondName()}"></span>
        </td>
        <td th:unless="${filter.getAdditionalMessage() == '' || filter.getAdditionalMessage() == null }">
            <span class="badge badge-success text-wrap" th:text="'Wyszukiwane słowo: '+${filter.getAdditionalMessage()}"></span>
        </td>
        <a th:href="@{/trips}" type="button" class="close">
           <span> &times;</span>
        </a>
    </div>
</div>