<div th:if="${filterIsActive == 'true'}" class="container-xl px-2">
    <div class="alert alert-success alert-dismissible fade show " role="alert">Aktywne filtry:
        <td th:unless="${tripDto.getFilterStartingDate() == null}">
            <span class="badge badge-success text-wrap" th:text="'Po: '+${tripDto.getFilterStartingDate()}"></span>
        </td>
        <td th:unless="${tripDto.getFilterEndingDate() == null}">
            <span class="badge badge-success text-wrap" th:text="'Przed: '+${tripDto.getFilterEndingDate()}"></span>
        </td>
        <td th:unless="${tripDto.getFilterCarId() == null}">
            <span class="badge badge-success text-wrap" th:text="'Pojazd: '+${tripDto.getFilterCar().getModel()}"></span>
        </td>
        <td th:unless="${tripDto.getFilterEmployeeId() == null}">
            <span class="badge badge-success text-wrap" th:text="'Pracownik: '+${tripDto.getFilterEmployee().getSecondName()}"></span>
        </td>
        <td th:unless="${tripDto.getFilterAdditionalMessage() == '' || tripDto.getFilterAdditionalMessage() == null }">
            <span class="badge badge-success text-wrap" th:text="'Wyszukiwane słowo: '+${tripDto.getFilterAdditionalMessage()}"></span>
        </td>
        <a th:href="@{/trips}" type="button" class="close">
           <span> &times;</span>
        </a>
    </div>
</div>