<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/bootstrap-styles"></div>
</head>

<body class="bg-dark">

<div th:replace="fragments/nav-bar"></div>
<div th:replace="fragments/alert"></div>

<div class="container-fluid pt-2">


    <div class="row">
        <div class="col-12">
            <form class="was-validated" th:action="@{/employees/add}" th:object="${newEmployee}" method="post">
                <div class="form-group">
                    <label for="empNameInput1">Imię:</label>
                    <input type="text" class="form-control is-invalid rounded-0" th:field="*{name}" id="empNameInput1">
                </div>
                <div class="form-group">
                    <label for="empSecondNameInput1">Nazwisko:</label>
                    <input type="text" class="form-control rounded-0" th:field="*{secondName}" id="empSecondNameInput1">
                </div>
                <div class="form-group">
                    <label for="empPhoneInput1">Nr telefonu:</label>
                    <input type="text" class="form-control rounded-0" th:field="*{phoneNumber}" id="empPhoneInput1">
                    <small id="empPhoneHelp1" class="form-text text-muted">+48 123 456 789</small>
                </div>
                <div class="form-group">
                    <label for="empMailInput1">Adres e-mail:</label>
                    <input type="text" class="form-control rounded-0" th:field="*{email}" id="empMailInput1">
                    <small id="empNameHelp1" class="form-text text-muted">To jest tylko testowa podpowiedź</small>
                </div>
                <button type="submit" class="btn btn-success rounded-0" value="add new employee">Dociep hajera do bazy</button>
            </form>
        </div>
    </div>


    <div class="row">

        <tr th:each="emp: ${employees}">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-1">
                <div class="shadow card border-success text-center rounded-0">
                    <h5 class="card-header bg-success text-light">
                        <td th:text="${emp.getId()}"></td>
                        <td th:text="${emp.getName()}"></td>
                        <td th:text="${emp.getSecondName()}"></td>
                    </h5>
                    <div class="card-body bg-light">
                        <p class="card-text">
                        <td th:text="${emp.getEmail()}"></td>
                        <br>
                        <td th:text="${emp.getPhoneNumber()}"></td>
                        <br>
                        <a href="#" class="btn btn-outline-secondary btn-lg btn-block rounded-0">  Edytuj  </a>
                        <a th:href="@{/employees/delete/{id}(id=${emp.getId()})}" class="btn btn-outline-danger btn-sm btn-block rounded-0">Usuń</a>
                    </div>
                </div>
            </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>