<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/bootstrap-styles"></div>
    <title>MDJ rezerwator</title>

</head>
<body>
<div th:replace="fragments/nav-bar"></div>

<div class="container">
    <div class="row">

        <div class="col-12 p-1">
            <div class="card text-center">

            </div>
        </div>

        <div class="col-6 p-1">
            <a th:href="@{/cars}">
                <div class="card text-center">
                    <div class="card-body bg-light">
                        <p class="card-text">Auta</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-6 p-1">
            <a th:href="@{/trips}">
            <div class="card text-center">
                <div class="card-body bg-light">
                    <p class="card-text">Kalyndorz</p>
                </div>
            </div>
            </a>
        </div>

    </div>
</div>


<div th:replace="fragments/bootstrap-scripts"></div>
</body>
</html>