<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/bootstrap-styles"></div>
    <title>MDJ rezerwator</title>

</head>
<body>
<div th:replace="fragments/nav-bar"></div>

<div class="container">
    <div class="row">
        <div class="col-6 p-1">
            <div class="card">
                <div class="card-body bg-light">
                    <p class="card-text">Auta</p>
                </div>
            </div>
        </div>
        <div class="col-6 p-1">
            <div class="card">
                <div class="card-body bg-light">
                    <p class="card-text">Kalendarz</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="fragments/bootstrap-scripts"></div>
</body>
</html>