<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/bootstrap-styles"></div>
</head>
<body>

<div th:replace="fragments/nav-bar"></div>

<div class="container">


    <div class="row">
        <tr th:each="emp: ${employees}">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-1 mt-2">
                    <div class="shadow card border-success text-center rounded-0">
                        <h5 class="card-header bg-light">
<!--                            <td th:text="${emp.getId()}"></td>-->
                            <td th:text="${emp.getName()}"></td>
                            <td th:text="${emp.getSecondName()}"></td>
                        </h5>
                        <div class="card-body">
                            <p class="card-text">
                            <td th:text="${emp.getEmail()}"></td>
                            <br>
                            <td th:text="${emp.getPhoneNumber()}"></td>
                            <br>

                        </div><a th:href="@{/trips/employee/{id}(id=${emp.getId()})}" class="btn btn-success stretched-link btn-block rounded-0">Pokaż rezerwacje</a>
                    </div>
<!--                    <div class="card border-light text-center">-->
<!--                        <div class="card-footer">-->
<!--                            <a href="#" class="btn btn-light stretched-link btn-block btn-sm">Pokaż rezerwacje</a>-->
<!--                        </div>-->
<!--                    </div>-->
            </div>
        </tr>
    </div>


</div>
<div th:replace="fragments/bootstrap-scripts"></div>

</body>
</html>